.form-validation{
    text-align: center;
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    input[type=submit] {
      width: 36%;
    }
    input[type=text]{
      width: 36%;
    }
    input[type=password]{
      width: 36%;
    }
 
  }
  @media (max-width: 375px) {
    input[type=submit] {
      width: 36%;
    }
    input[type=text]{
      width: 36%;
    }
    input[type=password]{
      width: 36%;
    }
 
  }
  
  @media (max-width: 425px) {
    input[type=submit] {
      width: 60%;
    }
    input[type=text]{
      width: 60%;
    }
    input[type=password]{
      width: 60%;
    }
 
    }